html
    head
        title="Blog Platform v0.0.1"
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(type='text/css', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css', media='screen,projection')
        link(type='text/css', rel='stylesheet', href='http://localhost:3030/build/public/styles.css', media='screen,projection')
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

    body
        #root
            != content

    script(type='text/javascript').
        window.__INITIAL_STATE__=!{initialState};

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
    script(src='http://localhost:3030/build/public/bundle.js', defer)